@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Open+Sans:wght@800&family=Poppins:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    overflow-x: hidden;
    zoom: 100%;
    scroll-behavior: smooth;
}

:root {
    --primary_color: #ffffff;
    --secondary_color: #800080;
    --header_color: #333333;
    --section_color: #e8e888;
    --background_color: #333333;
    --text_color: #888888;
    --header_text: #121212;
    --balck_plus: #100f0f;
    --smoking__hot: #444444;
    --box_background: #222222;
    --linking_color: #ea3f73;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --main-color: #ea3f73;
    ---bkgrd: #121212;
    --boxbkgrd-color: #ccc;
}


.container {
    background-color: var(--header_text);
}

.content_one {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.content_one_sub {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 20px 5% 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #212121a2;
    border-radius: 100px;
}



.logo a {
    font-size: 1em;
    text-decoration: none;
    color: var(--primary_color);

}

nav {}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
    list-style: none;
}

nav ul li a {
    color: var(--primary_color);
    font-size: 0.9em;
    text-decoration: none;
    position: relative;
    padding: 0 0 3px 0;
}

nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    transition: .4s;
    height: 3px;
    background-color: var(--secondary_color);
}

nav ul li a:hover:after {
    width: 100%;
}

.contact a {
    padding: 12px 20px;
    color: var(--primary_color);
    background-color: var(--secondary_color);
    border-radius: 30px;
    text-decoration: none;
}

.content_one_sub_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}
.content_one_sub_container {
    width: 100%;
    height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 0.518), rgba(0, 0, 0, 0.518)), url(../sub_folder/medium.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.content_one_sub_container_text {
    text-align: center;
    width: 100%;
}

.content_one_sub_container_text h2 {
    text-align: center;
    font-size: 3em;
    color: var(--primary_color);

}


.content_two {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.content_two_sub {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 5rem 10% 4rem;
}

.content_two_sub .head {
    padding: 0rem 0 5rem;
    text-align: center;
}

.content_two_sub .head h2 {
    font-size: 2em;
    color: var(--primary_color);
    margin: 10px 0;
}

.content_two_sub .head p {
    font-size: 1em;
    margin: 10px auto;
    color: var(--primary_color);
    line-height: 1.6;
    width: 100%;
    max-width: 60%;
}

.content_two_sub_container {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 2rem 0 0;
    gap: 30px;
}


.content_two_sub_container_details {
    padding: 3px 2rem 2rem;
    width: 100%;
    background-color: var(--secondary_color);
    text-align: center;
    position: relative;
    border-radius: 0 0 10px 10px;
}

.content_two_sub_container_details::after {
    content: "";
    position: absolute;
    width: 100%;
    background-color: var(--secondary_color);
    height: 40px;
    right: 0;
    top: -39px;
    border-radius: 10px 10px 0 0;
    transition: .5s;
}

.content_two_sub_container_details:hover::after {
    margin: 0 0 20px 0;
    top: -60px;
}

.content_two_sub_container_details i {
    color: var(--secondary_color);
    padding: 10px;
    border-radius: 90px;
    font-size: 1.2em;
    background-color: var(--primary_color);
    transition: .3s;
}

.content_two_sub_container_details:hover i {
    animation-name: contact_icon;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    background-color: var(--secondary_color);
    border: 1px solid var(--primary_color);
    color: var(--primary_color);
    position: relative;
    z-index: 10;
}

@keyframes contact_icon {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-34px);
    }
}

.content_two_sub_container_details h3 {
    font-size: 1.3em;
    margin: 10px 0;
    color: var(--primary_color);
    transition: .4s;
}

.content_two_sub_container_details:hover h3 {
    transform: scale(1.2);
}

.content_two_sub_container_details p {
    font-size: 1em;
    margin: 10px 0;
    color: var(--primary_color);
    transition: .4s;
}

.content_two_sub_container_details:hover p {
    transform: scale(1.2);
}


.map_content {
    padding: 4rem 5%;
    width: 100%;

}

.map_content iframe {
    width: 100%;
    height: 80vh;
    margin: 0 auto;
}


.form_content {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.form_content_sub {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 0rem 5% 0 0;
    background: #212121a2;
    margin: 0 0 3rem;
}

.form_content_sub .head {
    padding: 0rem 0 1.5rem;
    text-align: center;
}

.form_content_sub .head h2 {
    font-size: 2rem;
    margin: 10px 0;
    color: var(--primary-color);
}

.form_content_sub .head p {
    font-size: 1em;
    margin: 10px auto;
    line-height: 1.6;
    width: 100%;
    max-width: 80%;
    color: var(--primary_color);
}

.form_content_sub_container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: space-between;


}

.form_content_sub_container_img {
    width: 100%;
    height: 100vh;
    background: url(img/young-african-male-programmer-scrolling-touchpad-while-looking-through-new-computer-software-internet_274679-30551.avif);
    background-size: cover;
    background-position: right;
}

form {
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 2rem;
}

.from_sub {
    display: flex;
    gap: 20px;
}

.from_sub input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #212121a2;
    border: 1px solid var(--secondary_color);

}

.from_sub input::placeholder {
    color: var(--secondary_color);
    font-size: 1em;
}

form textarea {
    width: 100%;
    margin: 20px 0;
    padding: 15px;
    background-color: #212121d4;
    object-fit: contain;
    border: 1px solid var(--secondary_color);

}

.form_content form button {
    padding: 10px 30px;
    margin: 10px 0;
    font-size: 1em;
    border: 1px solid var(--secondary_color);
    color: var(--secondary_color);
    transition: .5s;
}

.form_content form button:hover {
    background-color: var(--secondary_color);
    color: var(--primary_color);
}





.news_letter {
    position: relative;
    align-items: center;
    margin: 0 auto -50px;
    width: 70%;
    padding: 40px;
    background-color: rgb(1, 1, 35);
}

.news_letter_sub {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.news_letter_sub form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.news_letter_sub form input {
    width: 60%;
    padding: 20px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
    background-color: var(--primary_color);
}

.news_letter_sub button {
    outline: none;
    padding: 20px 40px;
    border: none;
    color: var(--primary_color);
    font-weight: 700;
    font-size: 1em;
    border-radius: 0 4px 4px 0;
    position: relative;
    transition: .5s;
}

.news_letter_sub button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--secondary_color);
    border-radius: 0 4px 4px 0;
    transition: .5s;

}

.news_letter_sub button:hover {
    color: var(--secondary_color);
}

.news_letter_sub button:hover:after {
    width: 0%;
}

.news_letter_sub button span {
    position: relative;
    z-index: 20;
}

footer {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.foot_sub {
    justify-content: center;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    padding: 5rem 10% 1rem;
    background: linear-gradient(rgba(0, 0, 38, 0.86),rgba(0, 0, 38, 0.86)),url(../sub_folder/12232.jpg);
    background-position: center;
    background-size: cover;
}

.foot_suber {
    width: 100%;
}

.foot_sub h3 {
    font-size: 1.4em;
    color: var(--primary_color);
    margin: 0 0 20px;
}

.foot_sub ul li {
    list-style: none;
    margin: 10px 0;
}

.foot_sub ul li a {
    color: var(--primary_color);
    font-size: 0.9em;
    text-decoration: none;
    position: relative;
    display: block;
}

.foot_sub i {
    padding: 0 10px 0 0;
}

.foot_sub ul li a span {
    transition: .5s;
}

.foot_sub a span {
    margin: 0;
    transition: .4s;
    display: inline-block;
}


.foot_sub ul li a:hover span {
    animation-name: move;
    animation-duration: .6s;
    animation-fill-mode: forwards;
    color: var(--secondary_color);
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(15px);
    }
}

.foot_sub p {
    font-size: 1em;
    color: var(--primary_color);
    margin: 10px 0;
}

.foot_suber:nth-child(4) i {
    font-size: 1.5em;
    background-color: var(--secondary_color);
    padding: 7px;
    color: var(--primary_color);
    transition: .5s;
    border-radius: 4px;
    margin: 0 5px 0 0;
}

.foot_suber:nth-child(4) i:hover {
    color: var(--secondary_color);
    background-color: var(--primary_color);
}

.foot_leg {
    text-align: center;
    padding: 2rem 0;
    border-top: 2px solid rgba(128, 128, 128, 0.384);
    background: rgb(0, 0, 24);
}

.foot_leg p {
    color: var(--primary_color);
    font-size: 1em;
}

.foot_leg p span {
    font-size: 1.8em;
    color: var(--secondary_color);
    font-weight: 900;
}










@media (max-width: 1000px) {

    .frist_part {
        display: none;
    }

    .blog_section:hover .blog_section_sub {
        display: none;
    }

    #navIcon {
        display: block;
    }

    header {
        padding: 15px 5%;
    }

    header {
        height: 12vh;
    }

    header nav {
        position: fixed;
        width: 0%;
        background-color: var(--secondary_color);
        height: 88vh;
        bottom: 0;
        right: 0;
        z-index: -6;
        display: flex;
        justify-content: center;
        opacity: 0;
        transition: width .5s;
    }

    header nav.slideOut {
        width: 50%;
        opacity: 1;
    }

    header ul li a {
        font-size: 1em;
        font-weight: 600;
        color: var(--primary_color);
    }

    header ul {
        padding: 5rem 0 0 ;
    }

    header ul li {
        margin: 10px 0;
    }

    header nav ul {
        flex-direction: column;
   
        align-items: center;
        text-align: center;
    }

    .blog_section i {
        display: none;
    }
    
    .appointment {
        display: none;
    }

    .form_content_sub {
        padding: 5rem 0 0;
    }

    .content_two_sub .head p {
        max-width: 100%;
    }

    .form_content_sub_container {
        grid-template-columns: 100%;
    }


}


@media(max-width: 790px) {
    .content_two_sub_container {
        flex-direction: column;
    }

    .content_two_sub_container_details {
        margin: 30px 0;
    }
}



@media (max-width: 620px) {



header h1 a {
    font-size: 0.9em;
}




.news_letter_sub form {
    flex-direction: column;
}

.news_letter_sub form input {
    width: 100%;
}

.news_letter {
    margin: 0;
    width: 100%;
}




.foot_sub {
    grid-template-columns: auto;
}

.foot_leg {
    padding: 20px 10px;
}

.foot_leg p span {
    font-size: 1.3em;
}



}
